@import '../_vars';

.alert {
	padding: $gap * 2;
	border-radius: $gap;
	font-size: 14rem * $units;
	font-weight: 500;
	display: block;

	&-danger {
		color: #fff;
		background: rgba($dangerColor, 0.75);
	}

	&-warning {
		color: #313131;
		background: rgba($warningColor, 0.45);
	}

	&-success {
		color:#313131;
		background: rgba($tertiary, 0.65);
	}

	&-info {
		color: #fff;
		background: rgba($primary, 0.45);
	}
}