@import '../vars';

.card {
	border-radius: $gap;
	border:1px solid $light;
	background:#fff;
	transition: $default-animation;

	&:hover {
		box-shadow: 0 1px 2px 0 #E1E5E9, 0 1px 3px 1px #E1E5E9;
	}

	&-container {
		padding: 8px;
	}

	&-actions {
		border:1px solid #E1E5E9;
		padding:8px;
	}
}