@import '../vars';

@mixin resetInput() {
	display:block;
	width:100%;
	padding: $gap * 2;
	border-radius: $gap * 4;
	background: #fff;
	outline: none;
	transition: $default-animation;
	font-size: 14px;
	border: 1px solid #d1d5d9;
}

.input {
	display: flex;
	position: relative;
	align-items: center;
	align-content: center;
	margin: $gap;

	input[type="radio"] {
    // hide the real radio button
    @extend .__invisible;
    
    & + label {
      padding: 5px;
      padding-left: 28px;
      cursor: pointer;
			display: flex;
			align-items: center;
			align-content: center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				width: 18px;
				height: 18px;
				border-radius: 50%;
        border: 1px solid #d1d5d9;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
				left: 4px;
				bottom: 0;
				margin: auto;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: none;
				opacity:0;
				transform: scale(0);
				transition: $default-animation;
			}
			
			&:hover::after {
				background:#c6c6c6 !important;
				transform: scale(.5);
				opacity:1;
			}
		}
    
    &:active,
    &:focus {
      outline: 1px dashed fade($secondary, 60%)
    }
    
    // selected
    &:checked + label {
      &:after {
        content: "";
        background: $secondary !important;
				transform: scale(1);
				opacity:1;
      }
    }
    
	}
	
	/* Search input */
	input[type='search'] {
		@include resetInput;
		
		&:hover, &:focus &:active {
			box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='phone'] {
		@include resetInput;

		background: #f1f3f4;
		border-color: #f1f3f4;
		border-radius: $radius;
		padding: $gap;

		&:focus:required:invalid {
			border-color: $dangerColor;
		}
	}
}

.__invisible {
	position: absolute;
    left: -9999px;
    z-index: -9999;
    visibility: hidden;
}