@import '../vars';

.label {
	display:inline-block;
	padding: ($gap - 4) $gap;
	font-size: 14rem * $units;
	font-weight:500;
	border-radius: $gap * 2;

	&-danger {
		background: rgba($dangerColor, 0.75);
		color: #fff;
	}

	&-warning {
		background: $warningColor;
		color: #313131;
	}

	&-success {
		background: rgba($tertiary, 0.65);
		color: #313131;
	}

	&-info {
		color: #fff;
		background: rgba($primary, 0.45);
	}
}